#navbar {
    width: 45%;
    padding: 70px 5px;
}

#sobreMim {
    height: max-content;
}

a {
    color:#eddcd2 !important;
}
.conteudo {
    color:#f0efeb
}
#emptyPage {
    background-color:#b7b7a4;
    vertical-align: auto;
}
#avatar {
    border: 1px solid; border-radius: 50%;
}