#navbar {
    width: 45%;
    padding: 70px 5px;
}

#sobreMim {
    height: max-content;
}
a {
    color:#eddcd2 !important;
}
.conteudo {
    color:#f0efeb
}
#avatar {
    border: 1px solid;
    border-radius: 50%;
}

.card {
    border-radius: 10px;
}

html, body {
    height: 100vh;
}

.container-fluid {
    height: 100vh;
}